header {
    width: auto;
    height: 70px;
    background-color: cornflowerblue;
    margin-top: 50px;
}

.frameIP4 {
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.border {
    border-color: rgb(179, 75, 147);
}

.btn {
    color: white;
    background-color: cornflowerblue;
}

h1 {
    
    font-size: 60px; color: aliceblue;
}

